<script type="text/javascript">
  var mutation_call_count = 0;
  var loaded_nodes = [];
  var observer = new MutationObserver((mutations, obs) => {
    mutation_call_count += 1;
    console.log("Mutation call count:", mutation_call_count);
    mutations.forEach((mutation) => {
      if (mutation.type === "childList") {
        console.log("Child nodes changed", mutation);
        if (mutation.addedNodes.length > 0) {
          mutation.addedNodes.forEach((node) => {
            if (node instanceof MutationObserver) {
              console.log("MutationObserver added");
            }
            if (node.id == "password" || node.id == "retype_password") {
              console.log("~~Password input added");
              loaded_nodes.push(node);
              if (loaded_nodes.length >= 2) {
                console.log("All password inputs loaded");
                loaded_nodes.forEach((node) => {
                  node.style.background = "yellow";
                });
                loaded_nodes = [];
                obs.disconnect();
              }
            }
          });
        }
      } else if (mutation.type === "attributes") {
        console.log(`Attribute ${mutation.attributeName} changed`, mutation);
      }
    });
  });

  observer.observe(document.getElementById("content"), {
    childList: true,
    attributes: true,
    subtree: true,
  });

  setTimeout(() => {
    let inside_content = document.createElement("div");
    inside_content.id = "inside_content";
    document.getElementById("reset_password_form").appendChild(inside_content);
    let inside_content_text = document.createElement("p");
    inside_content_text.textContent = "Below will be a reset password form";
    inside_content.appendChild(inside_content_text);
  }, 2000);

  setTimeout(() => {
    let reset_password_form = document.createElement("form");
    reset_password_form.id = "reset_password_form";
    reset_password_form.action = "/reset_password";
    reset_password_form.method = "POST";
    reset_password_form.style.display = "block";
    reset_password_form.style.marginTop = "10px";
    reset_password_form.style.marginBottom = "15px";
    reset_password_form.style.width = "200px";
    document.getElementById("content").appendChild(reset_password_form);
  });

  setTimeout(() => {
    let input_password_label = document.createElement("label");
    input_password_label.id = "password_label";
    input_password_label.textContent = "New Password:";
    input_password_label.htmlFor = "password";
    document
      .getElementById("reset_password_form")
      .appendChild(input_password_label);
    let input_password = document.createElement("input");
    input_password.type = "password";
    input_password.id = "password";
    input_password.name = "new_password";
    input_password.style.display = "block";
    input_password.style.marginTop = "10px";
    input_password.style.marginBottom = "15px";
    input_password.style.width = "200px";
    document.getElementById("reset_password_form").appendChild(input_password);
  }, 4000);

  setTimeout(() => {
    let retype_input_password_label = document.createElement("label");
    retype_input_password_label.id = "retype_password_label";

    retype_input_password_label.textContent = "Retype Password:";
    retype_input_password_label.htmlFor = "retype_password";
    document
      .getElementById("reset_password_form")
      .appendChild(retype_input_password_label);
    let retype_input_password = document.createElement("input");
    retype_input_password.type = "password";
    retype_input_password.id = "retype_password";
    retype_input_password.name = "retyped_password";
    retype_input_password.style.display = "block";
    retype_input_password.style.marginTop = "10px";
    retype_input_password.style.width = "200px";
    document
      .getElementById("reset_password_form")
      .appendChild(retype_input_password);
  }, 10000);
</script>
